.book-card {
  width: 240px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-color: var(--white);
  .book-card-cover {
    position: relative;
    width: 240px;
    height: 360px;
    background-color: gray;
    border-radius: 8px 8px 0 0;
    .book-card-favorite {
      position: absolute;
      top: 0;
      right: 0;
      width: 16px;
      height: 16px;
      padding: 8px;
      margin: 12px;
      background-color: var(--white);
      opacity: 0.5;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        fill: none;
        stroke: var(--brown);
      }
      &:hover {
        opacity: 0.8;
        svg {
          fill: var(--red);
          stroke: var(--red);
          color: var(--white);
        }
      }
    }
  }

  .book-card-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-sizing: border-box;
    padding: 12px;
    p {
      margin: 0;
    }
    .book-card-title {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 4px;
      font-family: var(--font-secondary);
      font-weight: var(--weight-medium);
      color: var(--title);
    }
    .book-card-author {
      font-size: 14px;
      margin-bottom: 4px;
      font-family: var(--font-secondary);
      font-weight: var(--weight-regular);
      color: var(--text);
    }
    .book-card-year {
      font-size: 12px;
      font-family: var(--font-secondary);
      font-weight: var(--weight-light);
      color: var(--text);
    }
  }
}
