.favorites {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--white);
  border: 1px solid var(--border);
  border-radius: 12px;
  width: 320px;
  height: auto;
  .favorites-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: 12px;
    .favorites-logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      background-color: var(--favorite);
      padding: 8px;
      margin-right: 12px;
      border-radius: 8px;
      .favorites-logo-img {
        fill: none;
        stroke: var(--green);
      }
    }
    .favorites-container {
      display: flex;
      flex-direction: column;
      align-items: start;
      p {
        margin: 0;
      }
      .favorites-title {
        font-size: 16px;
        font-family: var(--font-primary);
        font-weight: var(--weight-medium);
        color: var(--title);
      }
      .favorites-subtitle {
        font-size: 12px;
        font-family: var(--font-secondary);
        font-weight: var(--weight-light);
        color: var(--text);
      }
    }
  }
  .favorite-books-container {
    padding: 16px;
    .book-card-favorite {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: auto;
      border-bottom: 1px solid var(--border);
      .book-card-cover {
        width: 80px;
        height: 120px;
        background-color: gray;
        border-radius: 8px;
        margin: 8px 0;
      }
      .book-card-info {
        width: 180px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        box-sizing: border-box;
        padding: 12px;
        p {
          margin: 0;
        }
        .book-card-title {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 4px;
          font-family: var(--font-primary);
          font-weight: var(--weight-medium);
          color: var(--title);
        }
        .book-card-author {
          font-size: 14px;
          margin-bottom: 4px;
          font-family: var(--font-secondary);
          font-weight: var(--weight-regular);
          color: var(--text);
        }
        .book-card-year {
          font-size: 12px;
          font-family: var(--font-secondary);
          font-weight: var(--weight-light);
          color: var(--text);
        }
      }
      .favorite-book-img-container {
        display: flex;
        justify-content: end;
        width: 16px;
        height: 16px;
        padding: 4px;
        cursor: pointer;
        opacity: 0.8;
        .favorite-book-img {
          fill: var(--red);
          stroke: var(--red);
        }
      }
    }
  }
}
