footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*width: 100%;*/
  margin-top: auto;
  padding: 16px;
  border-top: 1px solid var(--border);
  .footer-link {
    text-decoration: none;
    color: var(--green);
    &:hover {
      color: var(--black);
    }
  }
}
