header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--border);
  align-items: center;
  padding: 12px 0 12px 0;
  margin-bottom: 24px;
  margin-left: 48px;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--green);
  padding: 4px;
  margin-right: 12px;
  border-radius: 12px;
}

.header-container {
  p {
    margin: 0;
  }
  display: flex;
  flex-direction: column;
}

.header-title {
  color: var(--title);
  font-family: var(--font-primary);
  font-weight: var(--weight-bold);
  font-size: 24px;
}
.header-subtitle {
  font-family: var(--font-secondary);
  font-weight: var(--weight-light);
  font-size: 16px;
}
