main {
  .title-main {
    margin: 0;
    color: var(--title);
    font-size: 36px;
    font-weight: var(--weight-bold);
    font-family: var(--font-primary);
  }
  .subtitle-main {
    color: var(--title);
    font-family: var(--font-secondary);
    font-weight: var(--weight-light);
    font-size: 18px;
    margin: 4px 0 18px 0;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  height: 32px;
  width: 240px;
}
.main-content-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 48px;
}
