.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 480px;
  margin-bottom: 48px;
  .search-button {
    background-color: var(--green);
    color: var(--white);
    padding: 16px 28px;
    border: none;
    border-radius: 12px;
  }
  .search-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-right: 8px;
    background-color: var(--white);
    padding: 8px 16px;
    border: 1px solid var(--border);
    border-radius: 12px;
    .search-icon {
      margin-right: 8px;
    }
    .search-input {
      width: 100%;
      border: none;
      outline: none;
      font-size: 16px;
      color: var(--text);
    }
  }
}
