@import "root.css";
@import "header.css";
@import "main.css";
@import "search.css";
@import "books-section.css";
@import "book-card.css";
@import "favorites.css";
@import "footer.css";

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  max-height: 100%;
  overflow-x: hidden;
  transition: background-color 0.3s ease-in-out;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-secondary);
  background-color: var(--background);
}
