@import "root.css";
@import "header.css";
@import "main.css";
@import "search.css";
@import "books-section.css";
@import "book-card.css";
@import "favorites.css";
@import "footer.css";
@import "loader.css";
@import "toast.css";
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  max-height: 100%;
  overflow-x: hidden;
  transition: background-color 0.3s ease-in-out;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-secondary);
  background-color: var(--background);
}

.hidden {
  display: none;
}

@media (max-width: 1700px) {
  .books-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

@media (max-width: 1200px) {
  .books-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media (max-width: 900px) {
  .books-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
}
